*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: bold;
    
}

/* NAVABAR */
.navbar-trasp{
    background-color: transparent !important;
}

/* CAROSELLO */
.grifologo{
    width: 200px;
}

.cont{
    /* position: relative; */
    text-align: center;
}

.butcar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden; 
}

.cerchio {
  height: 15px !important; 
  width: 15px !important; 
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
}
  
.text-container {
    /* position: absolute; */
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
  
.centered-text {
    text-align: left;
}

.whiteshadow{
    text-shadow: 2px 2px 4px whitesmoke;
}

.blackshadow{
    text-shadow: 2px 2px 4px black;
}



/* SECONDO CAROSELLO */


/* 3 IMMAGINI DIGITAL LEARNING GAMIFICATION  */

.contimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}


.contimg img {
  max-width: 100%;
  max-height: 100%;
}

figure {
  position: relative;
}

figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1{
  color:whitesmoke;
  font-weight:bold;
  font-size:50px;
}

/* HOVER 3 IMMAGINI */
.treim {
  position: relative;
  /* overflow: hidden; */
  /* display: inline-block; */
}

.treim::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.treim:hover::before {
  opacity: 1;
}

.treim img {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.2s ease-in-out;
}

.treim:hover img {
  filter: brightness(0.2);
}

/* AZIENDA */

.azienda{
  color:rgb(183, 35, 43);
  font-weight:bold;
  font-size:50px;


}

.aziendadescr{
  font-weight: 500px;
  font-size:35px;
  text-transform: none;
  margin-left: 50px;

}


.btnazienda{
  position:relative;
  display:inline-block;
  margin:20px;
  margin-left: 50px;
  color: rgb(255, 255, 255);
  border-color: rgb(183, 35, 43);
  border-width: 5px;
  font-size: 16px;
  font-weight: 700;
  background-color: rgb(183, 35, 43);
  border-radius:10%;
}

.btnazienda a{
  color:whitesmoke;
  font-weight:bold;
  text-align: center;
  text-decoration:none;
  background-color:rgb(183, 35, 43);
  display:block;
  position:relative;
  padding:8px 8px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #1c1b1b, 0 10px 0 rgb(183, 35, 43);
  -moz-box-shadow:inset 0 1px 0 #1c1b1b, 0 10px 0 rgb(183, 35, 43);
  box-shadow:inset 0 1px 0 #1c1b1b, 0 10px 0 rgb(183, 35, 43);
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btnazienda a:active{
  top:10px;
  background-color: rgb(183, 35, 43);
  
  -webkit-box-shadow:inset 0 1px 0 #1c1b1b, inset 0 -3px 0 rgb(183, 35, 43);;
  -moz-box-shadow:inset 0 1px 0 #1c1b1b, inset 0 -3pxpx 0 rgb(183, 35, 43);;
  box-shadow:inset 0 1px 0 #1c1b1b, inset 0 -3px 0 rgb(183, 35, 43);;
}

.btnazienda:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-16px;
  left:-4px;
  z-index:-1;
  background-color: rgb(70, 14, 17);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.gif{
  width: 80%;
}


/* NUMERI INCREMENTALI */

h3{
  color:whitesmoke;
  font-weight:bold;
  font-size:23px;
  /* display: flex; */
  /* justify-content: center; */
  font-size: 51px;
  line-height: 57px;
  font-family: Cairo;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: none;
  margin-bottom: 8px;
  color:#B7232B;
}

#txt-spaz{
  font-weight: 400;
  color: whitesmoke;
  font-size: 32px;
}

.btn1{
  font-family: Cairo, sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 600;
  /* font-size: 12px; */
  color: rgb(255, 255, 255);
  background-color: rgb(183, 35, 43);
  border-color: rgb(183, 35, 43);
  border-radius: 0px;
  border-width: 2px;
  line-height: 31px;
  height: 31px;
  margin: 0px 26px 0px 0px;
  text-align: center;
  padding: 0px 25px;
  width: auto;
  margin-left:-1330px;
  margin-top:50px;
}

.contnum{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* PORTFOLIO */


.contimg2{
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  
}

.contimg2 img {
  max-width: 100%;
  max-height: 100%;
}


.porto {
  position: relative;
  /* overflow: hidden; */
  /* display: inline-block; */
}

.porto::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.porto:hover::before {
  opacity: 1;
  background-image: url(https://fontawesome.com/icons/plus?f=classic&s=solid&pc=%23ffffff);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.porto img {
  display: block;
  /* width: 100%; */
  height: auto;
  transition: filter 0.2s ease-in-out;
}

.porto:hover img {
  filter: brightness(0.2);
}

/* BLOG */

.card-title{
font-weight: 800;

}

.btncost{
  border: 3px solid rgb(183, 35, 43);
  border-radius: 10%;
  background-color: azure;
  font-size: small;
  text-transform: uppercase;
  color: rgb(183, 35, 43);
  /* display: flex;
  justify-content: center;
  max-width: 50%; */
}

/* BOTTONE PER SAPERNE DI PIù BLOG */

.link{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  font-size: small;
  text-transform: uppercase;
}

.link span{
   position: relative;
  z-index: 2;  
}

.link:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background:  rgb(183, 35, 43);
  transition: all .35s;
}

.link:hover{
  color: #fff;
  border: #fff;
}

.link:hover:after{
  width: 100%;
}


/* FOOTER */
/* footer{
  padding-top: 83px;
  padding-bottom: 55px;
  padding-left: 25px;
  padding-right: 25px;
} */

.bg-footer{
  background-color: #16171D;
}


.soges{
  width: 270px;
  margin-top: 40px;
  
}

.textwhite{
  color: whitesmoke;
}

.textfooterlight{
  color: rgba(183, 181, 181, 0.948);
  font-weight: 90;
  font-size: 14px;
  text-align: left;
}

.textfooterdark{
  color: rgb(95, 97, 97);
  font-weight: 90;
  font-size: 14px;
  text-align: left;
  
}

.scrivici{
  margin-top: 100px;
  font-size: 50px;
}



/* BOTTONE FORM */

.btnsend{
  /* position: absolute; */
  /* top: 20%; */
  left: 10%;
  /* transform: translate(-50%, -50%); */
  width: 110px;
  border: 2px solid rgb(183, 35, 43);
  /* padding: 15px; */
  border-radius: 20%;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(183, 35, 42, 0.963);
  font-size: 15px;
  color:rgba(245, 245, 245, 0.892);
  }


.btnsend p{
   text-transform: uppercase;
   text-align: center;
   color: #fff;
   font-weight: 700;
   font-size: 17px;
   /* margin-left: 30px; */
   transition: all 0.2s ease;
}

/* Hover effects */
.btnsend:hover{
  background:  rgb(169, 33, 40);
  transition: all 0.2s ease;
}

.btnsend:hover p{
  color: #f5f0f0;
  transition: all 0.2s ease;
  animation: move 1s linear 1s forwards;
}

.btnsend:hover .send{
  top: -50px;
  transition: all 0.2s ease;
}

.btnsend:hover .send2{
  top: 15px;
  transition: all 0.2s ease;
  animation: sending 1s linear 1s forwards;
}


